body {
  font-size: 16px;
  color: #FFDFF4;
  background-color: #FFDFF4;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #F29FD6;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lemonada', cursive;
  color: #E0DBDE;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-left:0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 20px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
h2 {
  text-transform: uppercase;
  color: black;
}
#chicken-tile, #beef-tile, #sushi-tile {
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: #F29FD6;
  
}
#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#chicken-tile h3, #beef-tile h3, #sushi-tile h3 {
  text-align: center;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  opacity: .5;
}
#chicken-tile p, #beef-tile p, #sushi-tile p {
  font-size: 13spx;
  color:black;
  height:auto;
  text-align: justify;
  margin-right:9px;
  margin-left: 9px;

  }
/* END HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size:10vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /* End Header */

}